@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

.header, .footer {
  background: #22262b;
}

.project-container {
  border: 4px purple solid
}

.project-pic-container {
  border: 2px green solid;
}
.project-details-container {
  border: 2px salmon solid;
}

@media only screen and (min-width: 600px) {
    body {
      margin: 40px;
    }
  }

@media only screen and (min-width: 720px) {
  ul {
    columns: 2;
  }

  .project-container {
    display: flex;
  }

  .project-pic-container {
    width: 49%;
  }
  .project-details-container {
    width: 49%;
  }
}

@media only screen and (min-width: 1200px) {
  ul {
    columns: 3
  }


}